{% extends '@SyliusShop/Checkout/layout.html.twig' %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% block title %}{{ 'sylius.ui.complete'|trans }}{% endblock %}

{% block content %}
    <div class="t-checkout">
        <div id="loader" class="ui active dimmer" style="display: none;">
            <div class="bron">
                <div class="c-spinner  c-spinner--center" aria-live="polite" aria-busy="true">

                    <div class="c-spinner__loader">
                        <span class="c-spinner__element"></span>
                        <span class="c-spinner__element"></span>
                        <span class="c-spinner__element"></span>
                        <span class="c-spinner__element"></span>
                        <span class="c-spinner__element"></span>
                        <span class="c-spinner__element"></span>
                        <span class="c-spinner__element"></span>
                        <span class="c-spinner__element"></span>
                    </div>

                </div>
            </div>
        </div>

        <div id="form-container">
            {{ sylius_template_event(['sylius.shop.checkout.complete.steps', 'sylius.shop.checkout.steps'], _context|merge({'active': 'complete', 'orderTotal': order.total})) }}

            <div class="t-cart__title">{{ 'sylius.ui.summary_of_your_order'|trans }}</div>

            {{ sylius_template_event('sylius.shop.checkout.complete.after_content_header', {'order': order}) }}

            {% include '@SyliusShop/_flashes.html.twig' %}
            
            {{ form_start(form, {'action': path('sylius_shop_checkout_complete'), 'attr': {'class': 'ui loadable form', 'novalidate': 'novalidate'}}) }}
            {{ form_errors(form) }}
            <input type="hidden" name="_method" value="PUT" />

            {{ sylius_template_event('sylius.shop.checkout.complete.summary', _context) }}

            {% include '@SyliusShop/Checkout/Complete/_form.html.twig' %}

            {{ sylius_template_event('sylius.shop.checkout.complete.before_navigation', {'order': order}) }}

            {% include '@SyliusShop/Checkout/Complete/_navigation.html.twig' %}

            {{ form_row(form._token) }}
            {{ form_end(form, {'render_rest': false}) }}

            <div class="t-checkout__informations">
                {{ 'cart.checkout.shipping' |  t }}
            </div>
        </div>
    </div>
{% endblock %}
